* {
  box-sizing: border-box;
}
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  .choose-image {
    .btn-secondary {
      margin: 0;
    }
    margin: auto;
    margin-left: 12%;
  }

  .upload-button{
    margin-right: 11%;
  }

  .container{
     width: auto;
     height: auto;
     margin: auto;
     transform: scale(1.3);

  }
  /* Set max-width and max-height for the carousel */
  .carousel {
    max-width: 400px;
    max-height: 400px;
    margin: auto;
    margin-bottom: 20px;
  }

  /* Set max-width for images inside the carousel */
  .carousel-inner img,
  .placeholder-img {
    width: 120px !important; /* Adjusted width (24 * 5) */
    height: 120px !important; /* Adjusted height (24 * 5) */
    margin: auto;
    object-fit: contain; /* Maintain aspect ratio */
  }

  /* styles for previous and next buttons */
  .carousel-control-prev,
  .carousel-control-next {
    border: 0px solid #000;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #000; /* Black background */
  }

  /* Style for file preview */
  #filePreview {
    margin-top: 10px;
    max-width: 300px; /* Increased width for the preview */
    width: 120px;
    float: left;
    visibility: hidden;
  }

  /* Style for file name */
  #fileName {
    margin-top: 10px;
    font-weight: bold;
  }

  /* Style for the container under the Choose Image button */
  #previewContainer {
    text-align: center;
    float: left;
  }